<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- Include jQuery that are mandatory for Jouele -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Include Jouele: JS and CSS -->
<script src="/assets/js/jouele.js"></script>
<link href="/assets/css/jouele.css" rel="stylesheet"/>

<script src="/assets/js/likely.js"></script>
<link rel="stylesheet" href="/assets/css/likely.css">

<link rel="shortcut icon"
 href="favicon.ico" />

<!-- end custom head snippets -->
