---
layout: single
author_profile: true
title:  "Сегодня в 21 час по Москве. *«Вскрытие покажет»* — авторская программа Дмитрия Запольского."
excerpt: "В программе:  Рамзан Кадыров о легализации гомосексуальных браков; Павел Дуров, Телеграмм и Роскомнадзор."
header:
  #overlay_color: "#333" 
  video:
    id: 52hbme-kUQw
    provider: youtube

---

{% include feature_row %}

<h1>Свежие выпуски:</h1>
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

